body 
    font-family: sans-serif

.container
    width: 1170px
    margin: auto

.btn
    border: none
    border-radius: 10px
    background-color: $btn-color

@media (max-width: 1200px)
    .container
        width: 960px

@media (max-width: 768px)
    .container
        max-width: 750px
        width: 95%
